.settings
 .gaer-icon
  i.fa-solid.fa-gear
 span.icon
  i(
        class="fa-solid fa-moon"
          data-mainColor="#0F0F0F"
          data-secondryColor="#545454"
          data-backgroundColor="#757575"
          data-whiteColor="#ddd"
          data-textColor="#fff"
  )
  i(
    class="fa-solid fa-sun active"
          data-mainColor="#00B695"
          data-secondryColor="#019A80"
          data-backgroundColor="#ddd"
          data-whiteColor="#fff"
          data-textColor="#504e4e"
  )